<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/clientes']">
        <mat-icon>list</mat-icon>
      </a>
    </div>
    <mat-card class="example-card">
      <form [formGroup]="clienteForm" (ngSubmit)="onFormSubmit(clienteForm.value)">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nome" formControlName="nome" [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!clienteForm.get('nome').valid && clienteForm.get('nome').touched">Por favor entre o
              título</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!clienteForm.get('email').valid && clienteForm.get('email').touched">Por favor entre o autor</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="CPF" formControlName="cpf" [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!clienteForm.get('cpf').valid && clienteForm.get('cpf').touched">Por favor entre o ano</span>
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button type="submit" [disabled]="!clienteForm.valid" mat-flat-button color="primary">
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </form>
    </mat-card>
  </div>